header {
    background-image: linear-gradient(#ffffff4d, #ffffffa6),
        url(assets/mesh-gradient4.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letra-color {
    background: linear-gradient(to right, #1d2d44, #885c9f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.letra-color2{
    background: linear-gradient(to right, #1d2d44, #77c7c7);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Titan One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.icono-gigante {
    font-size: 7rem;
    color: #fdf8cb;
    border-radius: 100px;
    padding: 15px 30px;
    align-items: center;
    background-color: #1d2d44;
    margin: 15px 30px;
}

button {
    background-color: #d44d5c;
    color: #fdf8cb;
    border-radius: 20px;
    padding: 5px 10px;
    outline-color: #d44d5c;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    border-style: none;
    border-color: #d44d5c;
    border-image: initial;
    font-size: small;
    animation: backInUp; 
    animation-duration: 3s; 
    animation-delay: 60s;
}

.logo-amarillo-nombre {
    width: 80px;
}

.logo-azul-sin {
    width: 80px;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #1d2d44 !important;
}

/*  */
nav {
    margin: 0px 0px !important;
    padding: 0px 0px !important;
}

.nav-link {
    color: #fdf8cb;
    font-family: "Titan One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: x-large;
}

.io {
    width: 300px;
    border-radius: 100px;
}

p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1d2d44;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

h4{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
}

.Asi-trabajo{
    animation: slideInUp; 
    animation-duration: 3s; 
    animation-delay: 60s;
}

.animate__animated.animate__fadeInDown{
    --animate-duration: 2s;
  }

.animate__animated.animate__backInDown {
    --animate-duration: 2s;
  }

.animate__animated.animate__slideInUp{
    --animate-duration: 2s;
}

.Typewriter__cursor {
    -webkit-animation: 1s infinite; 
    animation: 1s infinite;
    margin-left: 1px;
}

@keyframes Typewriter__cursor{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0
    }
}

#Contactame{
    /* siempre va primero display flex */
    display:flex;
    align-items: center;
    justify-content: center;
    color: #1d2d44;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #77c7c7 !important;}

a{
    color: #1d2d44;
    }

#lo-que-se-hacer{
    display:flex;
    align-items: center;
    justify-content: center;
}

.CarruselDG{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCarrusel{
    width: 400px;
    height: 200px;
}

.icono-contacto {
    font-size: 2rem;
    color: black;
    margin: 4px 8px;
}